/*.main-full {
	background: #00bcd4;
}*/
.content{
	padding: 10px;
	/*padding-top: 0;*/
	margin-top: 20px;
	background: #fff;
}
	.artical-header{
		padding: 15px;
		font-size: 12px;
		line-height: 12px;
		background: #00bcd4;
	} 
		.artical-header a{
			font-size: 12px;
			color: #fff;
		}
		.artical-header i{
			margin-bottom: 3px;
			vertical-align: middle;
			font-size: 14px;
		}
  	.artical-info{
			display: inline;
			color: #fff;
			vertical-align: middle;
  	}
			.tm, .categories, .author {
				display: inline;
				line-height: 23px;
			}
			.categories, .author {
			  	margin:0 10px;
			}
			.author img {
				width: 20px;
				height: 20px;
				border-radius: 50%;
				overflow: hidden;
			}
		.artical-title{
			/*padding: 18px 0;*/
			padding-bottom: 15px;
			font-size: 18px;
			font-family: "Microsoft Yahei";
			font-weight: 800;
			line-height: 150%;
			color: #fff;
		}
			.tags {
				float: left;
				color: #999;
				font-size: 12px;
			}
			.tags a {
				line-height: 20px;
				color: #999;
			}
			.tags i {
				vertical-align: middle;
				font-size: 16px;
				color: #999;
			}

			.artical-buttons {
				float: right;
			}
			.artical-buttons a {
				font-size: 14px;
			}
			.artical-buttons i {
				margin-left: 5px;
				/*margin-top: -4px;*/
				font-size: 20px;
				color: #999;
				vertical-align: middle;
			}
				.artical-buttons a:hover .favorite{
					color: #ff7373;
				}
				.artical-buttons a:hover .comment{
					color: #90caf9;
				}
		.artical-related{

		}
@media screen and (min-width:  1000px){
		.artical-header a:hover {
			color: #009688;
		}
  	.artical-info{
			float: left;
			mt
  	}


}
@media screen and (max-width: 420px){
	.artical-header{
		text-align: center;
	} 	
		.userInfo {
			margin-top: 15px;
		}
  	.user-portrait {
  		width: 48px;
  		height: 48px;
  	}
  	.user-portrait img {
  		width: 48px;
  		height: 48px;

  	}
}
