/*.main-full {
	background: #00bcd4;
}*/
.content{
	padding: 10px;
	/*padding-top: 0;*/
	margin-top: 20px;
	background: #fff;
}

    .article-subnav {
      display: flex;
      justify-content: space-between;
      margin-top: 3px;
      width: 100%;
      height: 50px;
      z-index: 99;
    }
    .article-subnav p {
      align-self: center;
      opacity: 0;
      margin-bottom: 0;
      padding: auto 15px;
      font-size: 18px;
      font-family: "Microsoft Yahei";
      line-height: 50px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow:ellipsis;
      transition:opacity .3s;
    }
    .article-subnav a {
    }
    .article-subnav i {
      font-size: 26px;
      color: #fff;
    }
    .mdl-menu__item i {
      margin-top: -4px;
      font-size: 20px;
      color: #aaa;
      vertical-align: middle;
    }
	.article-header{
		padding: 15px;
		padding-top: 0;
		font-size: 12px;
		line-height: 12px;
		background: #00bcd4;
	} 
		.article-header a{
			font-size: 12px;
			color: #fff;
		}
		.article-header i{
			margin-bottom: 3px;
			vertical-align: middle;
			font-size: 14px;
		}
		.share-box {
			float: right;
			display: inline-block;
		}
		.share-box div {
			display: inline-block;
		}
			.share-wx, .share-qq, .share-blog {
				width: 32px;
				height: 32px;
				background: url(../images/share.png);
				background-position: -32px 0;
				background-size: 64px;
				margin: auto 2px;
			}
			.share-qq {
				background-position: -32px -33px;
			}
			.share-blog {
				background-position: -32px -99px;
			}
  	.article-info{
			display: inline;
			color: #fff;
			vertical-align: middle;
  	}
  	.article-text-head {
  		/*padding-bottom: 8px;*/
  		font-size: 10px;
  		color: #999;
  		line-height: 32px;
  		border-bottom: 1px solid #eee;
  	}
  	.article-text-head img{
				width: 32px;
				height: 32px;
				border-radius: 50%;
				overflow: hidden;
  	}
  	.article-text-head a {
  		color: #2ea5de;
  	}
		.article-text {
			font-size: 16px;
			line-height: 160%;
		}
  		.tm, .categories, .author {
				display: inline;
				line-height: 23px;
			}
			.categories, .author {
			  	margin:0 10px;
			}
			.author img {
				width: 20px;
				height: 20px;
				border-radius: 50%;
				overflow: hidden;
			}
		.article-title{
			/*padding: 18px 0;*/
			padding-bottom: 15px;
			font-size: 18px;
			font-family: "Microsoft Yahei";
			font-weight: 800;
			line-height: 150%;
			color: #fff;
		}
			.tags {
				float: left;
				color: #999;
				font-size: 12px;
			}
			.tags a {
				line-height: 20px;
				color: #999;
			}
			.tags i {
				vertical-align: middle;
				font-size: 16px;
				color: #999;
			}

			.article-buttons {
				float: right;
			}
			.article-buttons a {
				font-size: 14px;
			}
			.article-buttons i {
				margin-left: 5px;
				/*margin-top: -4px;*/
				font-size: 20px;
				color: #999;
				vertical-align: middle;
			}
				.article-buttons a:hover .favorite{
					color: #ff7373;
				}
				.article-buttons a:hover .comment{
					color: #90caf9;
				}

		.article-related {
			margin-top: 16px;
			padding: 10px;
		}
		.article-related-header {
			font-size: 14px;
			color: #999;
			border-bottom: 1px solid #dedede;
			padding: 5px;

		}
@media screen and (min-width:  1000px){
		.article-header a:hover {
			color: #009688;
		}
  	.article-info{
			float: left;
			mt
  	}


}
@media screen and (max-width: 420px){
	.article-header{
		text-align: center;
	} 	
		.userInfo {
			margin-top: 15px;
		}
  	.user-portrait {
  		width: 48px;
  		height: 48px;
  	}
  	.user-portrait img {
  		width: 48px;
  		height: 48px;

  	}
}
