.two-code {
	width: 100px;
	height: 100px;
}
.nex-hp-1 {
  flex-direction: column;
}
.mdl-tooltip {
  z-index: 3;
}
.nex-more-section {
  padding: 8px 0;
}
  .nex-content-small-title {
    margin-left: 15px;
  }
  .nex-content-small-title a{
    font-size:12px;
    color: #ccc;
  }
  .nex-content-small-title a:hover {
    color: rgb(255,64,129);
  }
  .nex-surpporting-text {
    width: 96%;
    padding-bottom: 40px;
  }
  .nex-surpporting-text p {
    font-size: 16px!important;
    color: #333!important;
    line-height: 160%!important;
  }
  .nex-content-time {
    width: 96%;
    font-size: 12px;
    color: #999;
  }
  .margin-right-25 {
    margin-right: 25px;
  }
  .nex-footer-bar {
    display: none;
  }
  .nex-content-1 {
    margin-left: 0;
  } 
  .nex-content-2 {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  .nex-content-3 {
    margin-left: 15px;
  }
  /*图标样式*/
  .nex-content-icon1:hover {
    color: rgb(0,150,136);
  }
  .nex-content-icon-con {
    color: #999;
  }
  .shine-color {
    color: #FFB74D;
  }
  .nex-content-media {
    padding: 0 16px;
    background: #fff;
    margin-top: 16px;
  }
  .nex-content-media img {
    margin: 0 auto;
    display: block;
    width: 100%;
  }
  /*关于作者*/
  .nex-content-writer {
  	color: #d2d1d1;
    min-height:150px;
    width: 100%;
  }
/*  .nex-content-writer-title {
  	font-family: "微软雅黑";
    font-weight: 800;
    color: #fff;
  }*/
  .nex-content-writer  strong {
    display: block;
    margin-top: 10px;
    text-align: center;
  }
  .nex-content-writer .nex-font {
    display: block;
    font-size: 12px;
    text-align: center;
  }
  .nex-content-writer-name {
  	display: inline-block;
  	margin-bottom: 5px;
  	color: rgb(0,150,136);
  	font-size: 16px;
  	font-family: "微软雅黑";
  }
  .nex-content-writer-identity {
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
  }
  .nex-content-writer-body {
    display: block;
    color: #4c4c4c;
    font-size: 14px;
  }
  .nex-content-writer-body:hover {
    color: rgb(255,64,129);
  }
  .nex-content-mobile-1 {
    display: none;
  }
  /**关于评论**/
  .nex-comment-title {
  	font-family: "微软雅黑";
    font-weight: 800;
    font-size: 16px;
    color: #2C3E50;
  }
  .nex-content-comment {
  	padding: 30px 20px;
    margin-top: 20px;
  }
  /**上下篇透明罩**/
  .photo-surface:hover {
  	background-size: 102% 105%;
  }
  .photo-surface {
  	position: relative;
  	padding: 12px 10px;
  	height: 150px;
  	background-size:100% 100%;
  	background-position: 50% 50%;
  	background-repeat: no-repeat;
  	-webkit-transition:background-size .5s;
  }
  .photo-surface a {
  	display: block;
    position: relative;
    z-index: 10;
    height: 100%;
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
  }
  .photo-surface:before {
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
  }
  .text-right {
  	text-align: right;
  }
  .patch {
  	padding: 0;
    margin: auto 0;
  }
  /*sidebar*/
  .nex-content-tabs {
    height: 40%;
    width: 100%;
  }
  .nex-content-btnbar{
    background: #4DB6AC;
    color: #fff;
  }
  .nex-content-infobar {
    min-height: 0;
    width: 100%;
    margin: 16px 0;
    z-index: 3;
  }
  .nex-content-infobar .v-middle {
    font-size: 16px;
  }
  .nex-content-btnbar:hover {
    background: rgb(0,150,136);
  }
  /**引用自list**/
  .nex-small-list {
    display: flex;
    display: -webkit-flex;
    margin-top: 20px;
    flex-direction: row;
    align-items:stretch;
    padding-left: 20px;
  }
  .nex-small-list-img {
    width: 50px;
    height: 50px;
  }
  .nex-small-list-img img {
    width: 100%;
    height: 100%;
  }
  .nex-small-list-title {
    margin-left: 10px;
    width: 59%;
  }
  .nex-small-list-item a{
    font-size: 12px;
    margin-bottom: 1px;
    font-weight: 400;
    color: #2C3E50;
  }
  .nex-small-list-item a:hover {
    color: rgb(0,150,136);
  } 
  .nex-list-img {
    width: 100%;
  }
  .nex-ovf {
    overflow: hidden;
    position: relative;
  }
  .small-page-maker {
    border-radius: 5px;
    width: 14px;
    height:14px;
  }
  .nex-list-lastline {
    font-size: 12px;
    color: #ccc;
  }
  .nex-list-lastline a{
    color: #2C3E50;
  }
  .nex-list-lastline i {
    vertical-align: middle;
    font-size: 16px;
    color: #999;
    margin-left: 10px;
  }
  .nex-list-writer {
    margin-left: 2px;
  }
  .nex-list-writer:hover {
    text-decoration: underline;
    color: rgb(255,64,129);
  }
  /**** Mobile layout ****/
@media (max-width: 900px) {
    .nex-content-time {
      text-align: center;
      display: none;
    }
    .nex-zone-drawer-button {
      color: #767777;
      background: #fff;
    }
    .nex-more-section {
      padding: 0;
    }
    .nex-content-media {
      padding:0;
      margin-top: 0;
    }
    .nex-content-border {
      width: 100%!important;
      margin: 0;
      margin-top: 10px;
      border-radius: 5px;
    }
    .nex-content-comment {
      display: none;
    }
    .nex-content-1 {
      margin: 0;
      width: 100%!important;
    }
    .nex-content-2 {
      margin-left: 8px;
      margin: 0;
      width: 100%!important;
    }
    .nex-hp-0 .mdl-cell--12-col {
      margin-right: 3px;
      margin-left: 3px;
      width: 100%; 
    }
    .nex-content-mobile-1 {
      display: block;
      text-align: left;
      padding: 0 16px;
    }
/*    .nex-content-icon-con ,.nex-mobile-icon{
      float: none;
      text-align: center;
    }*/
    .nex-surpporting-text {
      width: 90%;
    }
    .nex-phone-footbar {
      display: fixed;
      width: 100%;
      background: #fff;
      height: 50px;
    }
    .nex-content-3 {
      display: none;
    }
    .nex-mobile-2 {
      margin: 20px 0;
    }
    .nex-footer-bar {
      display: flex;
      position: fixed;
      bottom: 0;
      padding: 10px 0;
      width: 100%;
      background: #fff;
      justify-content: space-around;
      z-index:2;
    }
    .nex-footer-bar .material-icons {
      font-size: 14px;
    }
    .nex-footer-bar-color {
      color: #999;
    }
}