a {
  text-decoration: none;
}

.nex-big-pic {
  width: 100%;
}
.nex-big-pic-section {
  position: relative;
  margin: 2px;
  width: calc(50% - 6px);
  overflow: hidden;
}
.nex-hg-pic {
  position: relative;
  width: calc(50% - 2px);
  margin-right: 2px;
  overflow: hidden;
}
.nex-hg-pic {
  position: relative;
  width: calc(50% - 2px);
  margin-left: 2px; 
}
.tl-pic { margin: 0 2px 2px 0;}
.tr-pic { margin: 0 0 2px 2px;}
.bl-pic { margin: 1px 2px 0 0;}
.br-pic { margin: 1px 0 0 2px;}
.nex-hg-header-pic {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 2px;
  width: calc(50% - 6px);
}
.nex-hg-header-pic img {
  width: 100%;
}
.nex-hg-title {
  position: absolute;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  padding:10px 20px; 
  width: 87%;
  bottom: 0;
  left: 0;
  color: #fff;
  text-align: left;
  font-family: "微软雅黑";
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.logo-font {
  font-family: "微软雅黑";
  line-height: 1;
  color: #767777;
  font-weight: 500;
}
.nex-slogan {
  font-size: 60px;
  padding-top: 160px;
}

.nex-sub-slogan {
  font-size: 21px;
  padding-top: 24px;
}

.nex-create-character {
  font-size: 21px;
  padding-top: 400px;
}

.nex-create-character a {
  text-decoration: none;
  color: #767777;
  font-weight: 300;
}
.nex-card-container {
  padding: 0;
  margin-left: 0px;
}
.nex-card-container .mdl-card__media {
  overflow: hidden;
  background: transparent;
}
.nex-card-container .mdl-card__media img {
  width: 100%;
}

.nex-card-container .mdl-card__title {
  background: transparent;
  height: auto;
}

.nex-card-container .mdl-card__title-text {
  color: black;
  height: auto;
  width: 100%;
}
.nex-card-container .mdl-card__title-text a {
  font-weight: 300;
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-family: "微软雅黑";
  -webkit-transition: color .4s; /* Safari 和 Chrome */
}
.nex-card-container .mdl-card__title-text a:hover{
  height: auto;
  color: rgb(0,150,136);
}
.nex-card-container .mdl-card__supporting-text {
  height: auto;
  font-size: 1rem!important;
  color: rgba(0,0,0,.54);
  margin-bottom: 20px;
}

.nex-card-container .mdl-card__actions a {
  border-top: none;
  font-size: 14px;
  font-family: "微软雅黑";
}
.nex-card-container .mdl-card__actions i {
  font-size: 14px;
  color: #999;
}

.nex-card-container .mdl-card__actions a {
  border-top: none;
  font-size: 14px;
  font-family: "微软雅黑";
}
.nex-card-container .mdl-card__actions i {
  font-size: 14px;
  color: #999;
}
.nex-margin-bottom {
  margin-bottom: 52px;
}
.nex-no {
  position: absolute;
  right: 16px;
  color: #ccc;
  font-size: 0.8em;
}
#menu-dropdown {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 3%;
  z-index: 4;
}
.nex-nextpage {
  float: right;
}
.nex-page {
  text-decoration: none;
  color:rgb(33, 33, 33);
}
.nex-img {
  transition: transform 1s;
  -moz-transition: transform 1s; /* Firefox 4 */
  -webkit-transition: transform 1s; /* Safari 和 Chrome */
  -o-transition: transform 1s; /* Opera */
  transform:scale(1,1);
  -moz-transform: scale(1,1); /* Firefox 4 */
  -webkit-transform: scale(1,1); /* Safari 和 Chrome */
  -o-transform:scale(1,1); /* Opera */
}
.nex-img:hover {
  transform:scale(1.1,1.1);
  -moz-transform: scale(1.1,1.1); /* Firefox 4 */
  -webkit-transform: scale(1.1,1.1); /* Safari 和 Chrome */
  -o-transform:scale(1.1,1.1); /* Opera */
}
.nex-visited {
  position: absolute;
  width: 70px;
  height: 70px;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  color: white;
  text-align: center;
}
.nex-visited-p {
  margin: 0;
}
.font-size{
  font-size: 22px;
  font-family: "微软雅黑";
  line-height: 2;
  font-weight: 500;
}
.position-relative{
  position: relative;
}
.nex-card-text{
  height: 137px!important;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}
.nex-card-title{
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.nex-margin-left{
  margin-left: 15px;
  line-height: 1.5;
}
.nex-card-span{
  font-size: 1rem;
  line-height: 18px;
}
.nex-card-card-sub {
  padding:0 16px;
}
.page-maker {
  width: 20px;
  height: 20px;
  border-radius: 6px;
}
.nex-navigation .mdl-navigation__link:hover>.is-upgraded {
  /*display: block;
  background: #000;*/
  visibility:visible!important;
}
.nex-sitemap a {
  color: rgb(158, 158, 158);
}
.nex-card-username{
  margin-left: 10px;
}
.nex-card-comment {
  display: none;
  margin-bottom: 40px;
}
.nex-card-comment li:first-child {
  border-top:1px solid #ccc;
}
.nex-card-comment .mdl-list__item-text-body {
  font-size: 12px;
  margin-left: 20%;
}
.mdl-list__item--three-line {
  height: 100px!important;
}
.nex-card-comment-time {
  margin-left: 10px;
  font-size: 12px;
  color: #ccc;
}
.nex-maker-info {
  padding: 8px;
}
.nex-card-bgtitle {
  padding-top: 0;
  padding-left: 8px;
}
.font-size-12 {
  font-size: 12px;
  color: #999;
  margin-left: 15px;
}
.nex-card-time {
  line-height: 3;
  color: #ccc;
  font-size: 0.8rem;
}
/**** Mobile layout ****/
@media (max-width: 900px) {
  .nex-content-nav {
    margin-left: 3px;
    margin-right: 3px;
    width: 100%;
  }
  .nex-card-container {
    width: 100%;
    margin: 0;
  }
  .nex-header-section .mdl-cell--6-col {
    width: 100%;
  }
  .nex-hp-1 {
    width: calc(100% - 4px)!important;
    margin-right: 0;
  }
  .nex-hp-2 {
    width: 100%!important;
    margin-left: 3px;
  }
  .nex-card-container .mdl-cell--6-col {
    margin-right: 3px;
    margin-left: 3px;
    width: 100%; 
  }
  .nex-header-section .nex-hg-title {
    font-size: 100%;
    padding: 4px;
    margin: 0 auto;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .nex-slogan {
    font-size: 26px;
    margin: 0 16px;
    padding-top: 24px;
  }

  .nex-sub-slogan {
    font-size: 16px;
    margin: 0 16px;
    padding-top: 8px;
  }

  .nex-create-character {
    padding-top: 200px;
    font-size: 16px;
  }
  .nex-fab {
    display: none;
  }
  .nex-card-phone {
    margin-bottom: 20px;
  }
}
