.nex-hp-0 {
  padding: 0;
  margin-left: 0px;
}
.nex-hp-1 {
  padding: 8px 0;
  margin-left: 0;
  width: 25%;
}
.nex-hp-2 {
  padding: 0;
  margin: 0;
  width: 100%;
}
.nex-hp-3 {
  margin: 8px 0;
  width: 100%;
}
.nex-fab {
  position: absolute;
  right: 20%;
  bottom: -26px;
  z-index: 3;
  background: #64ffda !important;
  color: black !important;
}
.nex-drawer {
  border-right: none;
}
#slide ul {
  display: none;
}
#slide li{
  list-style: none;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.v-middle {
  vertical-align: middle;
}
.display-block {
  display: block;
}

.mdl-mega-footer__drop-down-section {
  width: 17%;
}
.nex-icon-style {
  margin-bottom: 1px;
  color: #999;
  font-size: 12px;
}
.font-default {
  font-family: "微软雅黑";
}
.mdl-mega-footer__heading {
  color: #fff;
  font-size: 12px;
}

/**漂浮按钮**/
.fixed-btn-box {
  position: fixed;
  right: 20px;
  bottom: 20px;      
  z-index: 5;
}
.fixed-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: #00bcd4;
  transition:bottom .2s; 
}
.fixed-btn:hover {
  background: #3EDBEF;
}
.fixed-btn i{
  color: #fff;  
}
.fixed-btn-toTop, .fixed-btn-msg, .fixed-btn-create {
  bottom: 140px;
  z-index: 6;  
}
.fixed-btn-msg{
  bottom: 100px;
  z-index: 7;      
}
.fixed-btn-create{
  bottom: 60px;
  z-index: 8;
}
.fixed-btn-add{
  z-index: 9;   
  transform:rotate(45deg);
  transition:transform .1s;  
}
/**** Mobile layout ****/
@media (max-width: 900px) {
  .mdl-mega-footer__drop-down-section {
    width: 100%;
  }
  .nex-footer .mdl-mega-footer--bottom-section {
    display: none;
  }
  .nex-cell-phone {
    width: 68%;
  }
}